h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 3rem;
  text-shadow: 3px 3px 8px #00000042;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
