@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Medium.ttf);
}
:root {
  --colorNAV: rgb(35, 154, 15);
  --colorLINK: rgb(148, 33, 139);
  --colorVSS: rgb(54, 84, 164);
  --colorHTML: rgb(255, 76, 30);
  --colorCSS: rgb(53, 149, 207);
  --colorJS: rgb(239, 216, 28);
  --colorGIT: rgb(92, 107, 192);
}
* {
  box-sizing: border-box;
}
nav {
  display: flex;
}
nav button {
  width: 100px;
  height: 25px;
  cursor: pointer;
}
#btn-nav {
  background: var(--colorNAV);
}
#btn-link {
  background: var(--colorLINK);
}
#btn-vss {
  background: var(--colorVSS);
}
#btn-css {
  background: var(--colorCSS);
}
#btn-html {
  background: var(--colorHTML);
}
#btn-js {
  background: var(--colorJS);
}
#btn-git {
  background: var(--colorGIT);
}
#section-nav {
  display: none;
}
#section-link {
  display: none;
}
#section-vss {
  display: none;
}
#section-css {
  display: none;
}
#section-html {
  display: none;
}
#section-js {
  display: none;
}
#section-git {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
}

/* * {
  border: 2px solid red;
  margin: 0;
  padding: 0;
} */

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2rem;
  text-shadow: 3px 3px 8px #00000042;
  color: #000000;
  font-family: "Poppins";
}
.box,
.absolute,
.card {
  min-height: 100px;
  width: 90%;
  background: rgba(125, 125, 125, 0.9);
  margin: 0 auto;
  border: 2px solid rgb(0, 140, 255);
  border-radius: 20px;
  box-shadow: 0 0 20px 3px #81cfc6;
  padding: 15px;
}
.box h4 {
  padding: 0;
  margin: 0;
}

.flexbox {
  border: 2px solid skyblue;
  border-radius: 10px;
  padding: 5px;
  margin-top: 2px;
}
.flexbox h4 {
  padding: 0;
  margin: 0;
}
.flexbox ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.flexbox li {
  list-style: none;
  height: 50px;
  width: 90px;
  margin: 5px;
  background: turquoise;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  border: 2px solid skyblue;
  border-radius: 10px;
  padding: 5px;
  margin-top: 2px;
}
.grid h4 {
  padding: 0;
  margin: 0;
}

.grid ul {
  display: grid;
  grid-template-columns: 25% 30% 45%;
  justify-items: center;
}
.grid li {
  list-style: none;
  height: 50px;
  width: 100px;
  margin: 5px;
  background: turquoise;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-test {
  cursor: pointer;
  background: cyan;
  transition: 0.2s;
  border-radius: 15px;
}

#btn-test:hover {
  background: darkblue;
  color: white;
}

.absolute {
  position: relative;
}
#circle1 {
  height: 80px;
  width: 80px;
  border-radius: 150px;
  background: skyblue;
  position: absolute;
  top: -20px;
  right: -20px;
}
#circle2 {
  height: 40px;
  width: 40px;
  border-radius: 150px;
  background: teal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.card {
  margin-top: 20px;
  position: relative;
}

.card:before {
  content: "\261D";
  font-size: 2.5rem;
  position: absolute;
  right: 10px;
}

.card:after {
  content: "";
  position: absolute;
  background: red;
  height: 1px;
  width: 100%;
  left: -1px;
}

@media screen and (max-width: 900px) {
  .grid ul {
    display: block;
  }
}
