@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Medium.ttf);
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2rem;
  text-shadow: 3px 3px 8px #00000042;
  color: #000000;
  font-family: "Poppins";
}
.flexbox {
  height: 120px;
  width: 90%;
  background: rgba(125, 125, 125, 0.9);
  margin: 0 auto;
  border: 2px solid rgb(0, 140, 255);
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 20px 3px #81cfc6;
  padding: 15px;
}
